services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: cyberx_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    command: ["/bin/sh", "-c", "chmod +x /usr/src/app/entrypoint.sh && /usr/src/app/entrypoint.sh"]
    ports:
      - "5000:8080"
    environment:
      DATABASE_URL: postgresql://postgres:password123@db:5432/cyberx_db
    depends_on:
      - db

volumes:
  postgres_data:
